<a href="https://colab.research.google.com/github/loc1263/COVID-Chile/blob/master/COVID_IT_CL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

data = pd.read_csv('/content/Covid_ITvsCL.csv', sep=';')
data.head()

In [0]:

data = pd.read_csv('/content/Covid_ITvsCL.csv', sep=';',usecols=["Day","Date-IT","Confirmed-IT","Deaths-IT","Date-CL","Confirmed-CL","Deaths-CL"])
data['Confirmed-IT'] = data['Confirmed-IT'].astype('Int64')
data['Confirmed-CL'] = data['Confirmed-CL'].astype('Int64')

data.head()

## **Data Chile**

---

In [98]:
dataCL = pd.read_csv('/content/Covid_ITvsCL.csv' ,sep=';',usecols=["Day","Date-CL","Confirmed-CL","Deaths-CL"])
dataCL['Confirmed-CL'] = dataCL['Confirmed-CL'].astype('Int64')
dataCL = dataCL.loc[ 0:15,:]

dataCL

    Day     Date-CL  Confirmed-CL  Deaths-CL
0     1  03-03-2020             1        0.0
1     2  04-03-2020             3        0.0
2     3  05-03-2020             4        0.0
3     4  06-03-2020             5        0.0
4     5  07-03-2020             7        0.0
5     6  08-03-2020            10        0.0
6     7  09-03-2020            13        0.0
7     8  10-03-2020            17        0.0
8     9  11-03-2020            23        0.0
9    10  12-03-2020            33        0.0
10   11  13-03-2020            43        0.0
11   12  14-03-2020            61        0.0
12   13  15-03-2020            75        0.0
13   14  16-03-2020           NaN        NaN
14   15  17-03-2020           NaN        NaN
15   16  18-03-2020           NaN        NaN

In [187]:
# Calculo desde el caso 75 con un 30 % de incremento diario

Pivote=75
dia=16
CasosCL=0

#Dia -  Casos
for x in range(15):
    CasosCL= Pivote + 0.3*Pivote
    Pivote = CasosCL
    print(dia,"-",round(CasosCL))
    dia=dia+1

16 - 98
17 - 127
18 - 165
19 - 214
20 - 278
21 - 362
22 - 471
23 - 612
24 - 795
25 - 1034
26 - 1344
27 - 1747
28 - 2272
29 - 2953
30 - 3839

## **Data Italia**

In [96]:
dataIT = pd.read_csv('/content/Covid_ITvsCL.csv' ,sep=';',usecols=["Day","Date-IT","Confirmed-IT","Deaths-IT"])
dataIT['Confirmed-IT'] = dataIT['Confirmed-IT'].astype('Int64')
dataIT = dataIT.loc[ 21:40,:]

dataIT=dataIT.reset_index(drop=True)
dataIT

    Day     Date-IT  Confirmed-IT  Deaths-IT
0    22  21-02-2020            20        1.0
1    23  22-02-2020            79        2.0
2    24  23-02-2020           150        3.0
3    25  24-02-2020           227        7.0
4    26  25-02-2020           320       10.0
5    27  26-02-2020           445       12.0
6    28  27-02-2020           650       17.0
7    29  28-02-2020           888       21.0
8    30  29-02-2020          1128       29.0
9    31  01-03-2020          1694       34.0
10   32  02-03-2020          2036       52.0
11   33  03-03-2020          2502       79.0
12   34  04-03-2020          3089      107.0
13   35  05-03-2020          3858      148.0
14   36  06-03-2020          4636      197.0
15   37  07-03-2020          5883      233.0
16   38  08-03-2020          7375      366.0
17   39  09-03-2020          9172      463.0
18   40  10-03-2020         10149      631.0
19   41  11-03-2020         12462      827.0

## **Graficos**

In [0]:
import matplotlib.pyplot as plt
import numpy as np

dataCL.plot(kind='bar',y='Confirmed-CL',color='red')
dataIT.plot(kind='bar',y='Confirmed-IT',color='blue')
plt.show()

## **Merge**
Data asumiendo que Italia empezo a contabilizar bien desde el dia 21

In [157]:
## Juntar dataCL con dataIT

DataMerge=dataCL.merge(dataIT, left_index=True, right_index=True)
DataMerge.head(30)

    Day_x     Date-CL  Confirmed-CL  ...     Date-IT  Confirmed-IT Deaths-IT
0       1  03-03-2020             1  ...  21-02-2020            20       1.0
1       2  04-03-2020             3  ...  22-02-2020            79       2.0
2       3  05-03-2020             4  ...  23-02-2020           150       3.0
3       4  06-03-2020             5  ...  24-02-2020           227       7.0
4       5  07-03-2020             7  ...  25-02-2020           320      10.0
5       6  08-03-2020            10  ...  26-02-2020           445      12.0
6       7  09-03-2020            13  ...  27-02-2020           650      17.0
7       8  10-03-2020            17  ...  28-02-2020           888      21.0
8       9  11-03-2020            23  ...  29-02-2020          1128      29.0
9      10  12-03-2020            33  ...  01-03-2020          1694      34.0
10     11  13-03-2020            43  ...  02-03-2020          2036      52.0
11     12  14-03-2020            61  ...  03-03-2020          2502      79.0
12     13  15-03-2020            75  ...  04-03-2020          3089     107.0
13     14  16-03-2020           NaN  ...  05-03-2020          3858     148.0
14     15  17-03-2020           NaN  ...  06-03-2020          4636     197.0
15     16  18-03-2020           NaN  ...  07-03-2020          5883     233.0

[16 rows x 8 columns]

In [188]:
## Agregar porcentaje de incremento diario
DataMerge['Porcentaje-IT']=(DataMerge['Confirmed-IT'] *100)/DataMerge['Confirmed-IT'].shift()
DataMerge['Porcentaje-CL']=(DataMerge['Confirmed-CL'] *100)/DataMerge['Confirmed-CL'].shift()

DataMerge=DataMerge[['Date-CL', 'Confirmed-CL', 'Porcentaje-CL', 'Deaths-CL','Date-IT', 'Confirmed-IT', 'Porcentaje-IT', 'Deaths-IT']]
DataMerge=DataMerge.round({"Porcentaje-IT":2, "Porcentaje-CL":2})
DataMerge

       Date-CL  Confirmed-CL  ...  Porcentaje-IT  Deaths-IT
0   03-03-2020             1  ...            NaN        1.0
1   04-03-2020             3  ...         395.00        2.0
2   05-03-2020             4  ...         189.87        3.0
3   06-03-2020             5  ...         151.33        7.0
4   07-03-2020             7  ...         140.97       10.0
5   08-03-2020            10  ...         139.06       12.0
6   09-03-2020            13  ...         146.07       17.0
7   10-03-2020            17  ...         136.62       21.0
8   11-03-2020            23  ...         127.03       29.0
9   12-03-2020            33  ...         150.18       34.0
10  13-03-2020            43  ...         120.19       52.0
11  14-03-2020            61  ...         122.89       79.0
12  15-03-2020            75  ...         123.46      107.0
13  16-03-2020           NaN  ...         124.89      148.0
14  17-03-2020           NaN  ...         120.17      197.0
15  18-03-2020           NaN  ...         126.90      233.0

[16 rows x 8 columns]